In [2]:
import pandas as pd
import numpy as np

In [3]:
dates = pd.date_range(start="2024-06-01", periods=5, freq='D')
data = {
    'AAPL': [130.41, 131.40, 130.85, 133.56, 133.94],
    'GOOGL': [2750.00, 2745.50, 2760.40, 2770.30, 2780.10],
    'MSFT': [310.50, 311.60, 309.90, 312.45, 313.70]
}
df = pd.DataFrame(data, index=dates)
df

              AAPL   GOOGL    MSFT
2024-06-01  130.41  2750.0  310.50
2024-06-02  131.40  2745.5  311.60
2024-06-03  130.85  2760.4  309.90
2024-06-04  133.56  2770.3  312.45
2024-06-05  133.94  2780.1  313.70

In [3]:
features = pd.read_csv("../data/02_intermediate/price_data.csv")
prices = features.pivot(
    index="date", columns="stock_ticker", values="adj_close"
)
prices

stock_ticker,A,AAL,AAP,AAPL,ABBV,ABT,ACN,ADBE,ADI,ADM,...,WYNN,XEL,XOM,XRAY,XRX,XYL,YUM,ZBH,ZION,ZTS
date,,,,,,,,,,,,,,,,,,,,,
2014-06-06,38.804359,41.367500,116.605324,20.393909,36.506287,33.078686,70.455032,66.910004,42.520359,34.275471,...,174.983047,22.739683,65.850914,44.250015,22.653528,33.202530,47.544113,96.145164,23.533161,29.538252
2014-06-09,38.981918,41.094109,115.969688,20.720234,35.671478,33.144756,71.070763,66.930000,44.634670,34.245121,...,169.920868,22.615660,65.799049,44.204163,22.776930,33.519180,47.443062,95.795357,23.746456,29.789532
2014-06-10,38.725460,41.160091,115.297699,20.841862,35.757610,33.475132,70.547813,66.959999,45.022038,34.245121,...,168.913544,22.433279,65.760147,44.094135,22.635893,33.536770,47.193413,95.607025,23.778053,30.245541
2014-06-11,38.738602,39.868530,114.544014,20.755621,35.929874,33.037388,69.957390,67.459999,44.892914,33.880985,...,171.653748,22.199823,66.077744,44.048283,22.477234,33.387249,47.270687,94.898499,23.564760,29.901207
2014-06-12,38.403233,37.898209,112.854988,20.408440,35.552219,32.880451,69.518784,66.559998,44.739586,32.978195,...,168.350143,22.360327,65.889793,43.874069,22.265686,33.220139,46.818970,94.459023,23.343567,29.770916
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-05-31,130.410004,11.500000,70.639999,192.250000,161.240005,102.190002,282.290009,444.760010,233.560974,62.439999,...,94.879997,55.450001,117.260002,28.010000,14.060000,141.020004,137.429993,115.150002,43.189999,169.559998
2024-06-03,131.399994,11.530000,67.419998,194.029999,160.190002,102.870003,281.760010,439.019989,231.290009,61.990002,...,94.910004,55.279999,114.449997,28.040001,13.860000,138.610001,139.330002,113.120003,42.029999,172.369995
2024-06-04,130.850006,11.500000,65.209999,194.350006,162.139999,103.430000,288.059998,448.369995,230.630005,61.820000,...,92.919998,56.029999,112.669998,27.719999,13.850000,137.100006,141.539993,113.440002,41.130001,171.880005
2024-06-05,133.559998,11.620000,65.269997,195.869995,165.440002,103.230003,291.019989,455.799988,235.679993,61.070000,...,93.360001,55.160000,113.120003,27.639999,13.770000,139.669998,140.529999,112.639999,40.950001,175.820007
2024-06-06,133.940002,11.585000,65.160004,195.899994,167.516602,104.680000,293.170013,465.885010,236.800003,61.480000,...,92.562202,54.834999,113.150002,27.545000,13.879000,137.945007,141.389999,113.224998,41.035000,174.910004

In [4]:
signals = pd.read_csv(
    "../data/07_model_output/ml_technique_modeling/signals_concatenated"
)
signals_time_index = signals.set_index("timestamp")
signals_time_index.index = signals_time_index.index.astype("str")
signals_time_index

,NFLX,AVY,C,PM,CCI,WEC,ISRG,HAL,SWKS,T,...,SPGI,GRMN,HON,MCHP,ALK,APH,TPR,PFG,SRCL,AEP
timestamp,,,,,,,,,,,,,,,,,,,,,
2023-01-09,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2023-01-10,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2023-01-11,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2023-01-12,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2023-01-13,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2023-01-16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2023-01-17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2023-01-18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2023-01-19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2023-01-20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
weights = pd.DataFrame(
    np.full(signals_time_index.shape, 1 / signals_time_index.shape[1]),
    index=signals_time_index.index,
    columns=signals_time_index.columns,
)
weights

,NFLX,AVY,C,PM,CCI,WEC,ISRG,HAL,SWKS,T,...,SPGI,GRMN,HON,MCHP,ALK,APH,TPR,PFG,SRCL,AEP
timestamp,,,,,,,,,,,,,,,,,,,,,
2023-01-09,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,...,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326
2023-01-10,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,...,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326
2023-01-11,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,...,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326
2023-01-12,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,...,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326
2023-01-13,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,...,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326
2023-01-16,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,...,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326
2023-01-17,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,...,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326
2023-01-18,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,...,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326
2023-01-19,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,...,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326
2023-01-20,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,...,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326,0.002326

In [98]:
def calc_portfolio_returns(
    prices: pd.DataFrame, weights: pd.DataFrame
) -> pd.DataFrame:
    returns = prices.pct_change(fill_method=None)
    portfolio_returns = (returns * weights).sum(axis=1)
    return portfolio_returns.to_frame(name="Portfolio Returns")

In [99]:
def adj_portfolio_returns(
    portfolio_returns: pd.DataFrame,
    signals: pd.DataFrame,
    trading_cost_params: dict[str, float],
) -> pd.DataFrame:

    bp_trading_cost = trading_cost_params["bp_trading_cost"] / 10000

    portfolio_returns.loc[:, "Cumulative Returns"] = (
        1 + portfolio_returns.loc[:, "Portfolio Returns"]
    ).cumprod()

    # Calculate the changes in trade signals (buy/sell)
    trade_signals = signals.diff().fillna(signals)  # TODO: Not sure whether that is correct to fill the values with the original signals since I would usually buy them before the signal is given on the closing price yday.
    # Calculate the position sizes at each time step based on weights and cumulative returns
    position_sizes = portfolio_returns.loc[:, "Cumulative Returns"].shift(1).fillna(1)
    investment_changes = trade_signals.multiply(position_sizes, axis=0).abs()
    # Calculate trading costs
    trading_costs = investment_changes * bp_trading_cost
    portfolio_returns.loc[:, "Total Trading Costs"] = trading_costs.sum(axis=1)
    portfolio_returns.loc[:, "Normalized Trading Costs"] = (
        portfolio_returns.loc[:, "Total Trading Costs"]
        / portfolio_returns.loc[:, "Cumulative Returns"]
    )
    portfolio_returns.loc[:, "Adjusted Portfolio Returns"] = portfolio_returns.loc[
        :, "Portfolio Returns"
    ] - portfolio_returns.loc[:, "Normalized Trading Costs"]
    return portfolio_returns

In [100]:
def mean_return(returns: pd.Series) -> float:
    """Calculate the mean return of returns."""
    return returns.mean()


def std_deviation(returns: pd.Series) -> float:
    """Calculate the standard deviation of returns."""
    return returns.std()


def cagr(returns: pd.Series) -> float:
    """Calculate the Compound Annual Growth Rate (CAGR) of returns."""
    returns.index = pd.to_datetime(returns.index)
    total_period = (returns.index[-1] - returns.index[0]).days / 365.25
    cumulative_return = (1 + returns).prod() - 1
    cagr_value = (1 + cumulative_return) ** (1 / total_period) - 1
    return cagr_value


def max_drawdown(returns: pd.Series) -> float:
    """Calculate the maximum drawdown of returns."""
    cumulative = (1 + returns).cumprod()
    peak = cumulative.cummax()
    drawdown = (cumulative - peak) / peak
    max_dd = drawdown.min()
    return max_dd


def calmar_ratio(returns: pd.Series) -> float:
    """Calculate the Calmar ratio of returns."""
    return cagr(returns) / abs(max_drawdown(returns))


def sharpe_ratio(returns: pd.Series, risk_free_rate: float = 0.0) -> float:
    """Calculate the Sharpe ratio of returns."""
    excess_returns = returns - risk_free_rate / 252
    return excess_returns.mean() / returns.std() * np.sqrt(252)


def calculate_performance_metrics(portfolio_returns: pd.DataFrame) -> pd.DataFrame:
    portfolio_returns = portfolio_returns.loc[:, "Adjusted Portfolio Returns"]
    return {
        "mean_return": mean_return(portfolio_returns),
        "variance_return": std_deviation(portfolio_returns),
        "sharpe_ratio": sharpe_ratio(portfolio_returns),
        "cagr": cagr(portfolio_returns),
        "max_drawdown": max_drawdown(portfolio_returns),
        "calmar_ratio": calmar_ratio(portfolio_returns),
        "sharpe_ratio": sharpe_ratio(portfolio_returns),
    }

In [101]:
from fpdf import FPDF


def dict_to_pdf(dictionary, pdf_filename):
    pdf = FPDF()
    pdf.add_page()
    pdf.set_auto_page_break(auto=True, margin=15)
    pdf.set_font("Arial", size=12)

    # Define the width of columns (total page width is 210mm for A4 size)
    col_width = pdf.w / 2.5
    row_height = pdf.font_size * 1.5

    # Add a title
    pdf.set_font("Arial", "B", 14)
    pdf.cell(0, 10, "Strategy Performance", 0, 1, "C")
    pdf.set_font("Arial", size=12)

    # Create the table
    for key, value in dictionary.items():
        pdf.cell(col_width, row_height, str(key), border=1)
        pdf.cell(col_width, row_height, str(round(value, 2)), border=1, ln=1)

    pdf.output(pdf_filename)
dict_to_pdf(returns, "performance_metrics.pdf")

In [102]:
def plot_columns(
    plotting_dataframe: pd.DataFrame, plotting_params: dict[str, list[str]]
):
    """
    Plots specified columns from a DataFrame based on the provided parameters.

    Parameters:
    plotting_dataframe (pd.DataFrame): DataFrame containing the data to plot.
    plotting_params (dict[str, list[str]]): Dictionary with a single key 'columns'
                                            and a list of column names to plot.
    """
    columns_to_plot = plotting_params.get("columns", [])

    plt.figure(figsize=(10, 6))

    for column in columns_to_plot:
        if column in plotting_dataframe.columns:
            plt.plot(plotting_dataframe[column], label=column)
        else:
            print(f"Warning: Column '{column}' not found in DataFrame.")

    plt.legend()
    plt.xlabel("Index")
    plt.ylabel("Value")
    plt.title("Plot of Specified Columns")
    plt.grid(True)
    return plt

In [107]:
return_df = calc_portfolio_returns(prices, weights)
adj_return_df = adj_portfolio_returns(
    portfolio_returns, signals_time_index, {"bp_trading_cost": 10}
)
plotting_params = {"columns": ["Portfolio Returns", "Adjusted Portfolio Returns"]}
plot = plot_columns(adj_return_df, plotting_params)

AttributeError: 'NoneType' object has no attribute 'figure'